/* CSS Document */
@import url(../fuentes/fuentes.css);
*{
    font-family: 'open_sans';
}
.datepicker > div{
  display: block;
}

img{
    max-width: 100%;
}
body {
    --azul: #269cd8;
    min-width: 1200px;
    width: 100%;
    height: 100%;
}
textarea{
    resize: none;
}
.input-group .icon-input-left{
    position: absolute;
    height: 40px;
    width: 40px;
    color: #FFFFFF;
    z-index: 2;
    padding: 10px;
    font-size: 20px;
}
.input-group .icon-input-left+.form-control{
    padding-left: 35px;
}

.login-fondo {
    background: url(/skins/administracion/images/imagen-fondo.jpg) #CCCCCC fixed center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.login-caja {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 100px;
    margin-left: -200px;
    background: rgba(0, 0, 0, 0.8);
}
.login-caja h1 {
    background: #29abe2;
    color: #FFFFFF;
    margin: 0;
    padding: 10px;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
}

.login-caja .login-logo{
    text-align: center;
    padding-top: 10px;
}
.login-caja .login-content{
    padding: 20px;
    min-height: 250px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 300;
}

.login-caja .login-content label{
    font-weight: 300;
    color: #FFFFFF;
}

.login-caja .login-content .form-control{
    background: transparent;
    border-radius: 0;
    font-weight: 300;
    color: #FFFFFF;
}

.login-caja .login-content .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#FFFFFF;
    opacity: 1; /* Firefox */
     font-weight: 300;
     font-size: 14px;
}

.login-caja .login-content .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#FFFFFF;
     font-weight: 300;
       font-size: 14px;
}

.login-caja .login-content .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color:#FFFFFF;
     font-weight: 300;
       font-size: 14px;
}

.login-caja .login-content .olvido{
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
}

.login-caja .login-content .error_login{
    background: rgba(255,0,0,0.3);
    color: #FFFFFF;
    padding: 5px;
    text-align: center; border-radius: 0.5em;
    font-weight: 300;
    font-size: 14px;
}

.login-caja .login-content .mensaje_login{
    background: rgba(38,168,33,0.6);
    color: #FFFFFF;
    padding: 5px;
    text-align: center; border-radius: 0.5em;
    font-weight: 300;
    font-size: 14px;
}
.btn-azul-login{
    background: #29abe2;
    color: #FFFFFF;
    font-weight: 300;
    padding: 4px;
    border:0;
    padding-left: 30px;
    padding-right: 30px;
}
.login-derechos{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #FFFFFF;
    font-weight: 300;
    background: rgba(0,0,0,0.6);
    font-size: 14px;
}

.login-derechos a{
    color: #29abe2;
}
.info-olvido{
    font-size: 16px;
    font-weight: 300;
}
.info-olvido strong{
    color: #29abe2;
    font-weight: 300;
}



.has-error{
    position: relative;
}
.has-error .form-control{
    border-color: #ffc4c4;
}
.has-error label{
    color: red;
}

.has-error .with-errors{
    background: #ffc4c4;
    color: #6b0a0a;
    padding: 5px;
    text-align: center;
    border-radius: 0 0 0.5em 0.5em;
    font-weight: 700;
    font-size: 10px;
    position: absolute;
    padding: 0;
    height: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -4px;
}

header{
    background: #0084C9;
    min-height: 80px;
    color: #FFFFFF;
    padding-top: 15px;
}

header .infousuario{
    text-align: right;
}
header .infousuario i{
    font-size: 20px;
}
header .infousuario 
.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}

footer.panel-derechos{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #FFFFFF;
    font-weight: 300;
    background: #000000;
    font-size: 14px;
}

footer.panel-derechos a{
    color: #29abe2;
}
.kt-login-name{
    margin-right: 20px;
}

.enlace-salir{
    color: #FFFFFF;
    text-decoration: none;
    background: #6b0000;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 40px;
    display: inline-block;
    border-radius: 5px;
}

.margen-header{
    margin-top: 15px;
}
.margen-logout{
    margin-top: 14px;
    font-size: 18px;
}

#panel-botones{
    background: #333333;
    color: #FFFFFF;
    min-height: calc(100vh - 110px);
    padding: 0;
}

#panel-botones ul{
    padding: 0;
    list-style-type: none;
}
#panel-botones ul li{
    display: block;
 
}
#panel-botones ul li a{
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    border-left: 4px transparent solid;
    padding: 10px 15px;
    font-weight: 300;
    font-size: 12px;
}

#panel-botones ul li a i{
    font-size: 20px;
    min-width: 30px;
    text-align: center;
}

#panel-botones .activo a, #panel-botones li a:hover{
    border-left: 4px #a535b5 solid;
    background: #666666;
}


#panel-botones{
    position: absolute; z-index: 5; margin-top: 0px; display: none;
}

#contenido_panel{
    background: #EBF0F6;
    min-height: calc(100vh - 110px);
    padding: 0px;
}



.panel-titulo{
    background: #000000;
    color: #FFFFFF;
    font-size: 16px;
    text-indent: 10px;
    padding: 5px;
    font-weight: 300;
    padding-top: 11px;
    padding-bottom: 11px;
}

.div-dashboard{
    background: #FFFFFF;
    border-top: 3px solid #CDD1DB;
    margin-top: 15px;
    min-height:230px;
}

.content-dashboard{
    background: #FFFFFF;
    border-top: 3px solid #CDD1DB;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content-dashboard label{
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
}

thead td{
    text-transform: capitalize;
}

.div-dashboard h2{
    color: #8D8D8D;
    font-size: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #DBDFE7;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.div-dashboard h2 img{
    margin-top: -5px;
}
.div-dashboard h2 a{
    float: right;
    color: #CCCCCC;
}
.div-dashboard h2 a:hover{
    color: #09c2f7;
}
.div-whatsapp{
    background: #8CC63E;
    height: 230px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
    display: table;
}
.div-whatsapp div{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    height:230px;
    
}
.div-whatsapp h2{
    color: #FFFFFF;
    font-size: 20px; 
}
.div-whatsapp p{
    margin:0;
    font-size:16px;
    font-weight: 300;
}
.redes{
    display: inline-block;
    margin: 10px;
}

.redes img{
    max-height: 60px;
}

.equis{
    color: #FB2C32;
    background: #CECECC;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 16px;
}

.ok{
    color: #006736;
    background: #CECECC;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 16px;
}
.pading-dashboard{
    padding: 40px;
    padding-top:0;
}
.pading-dashboard h5{
    background: #EEEEEE;
    padding: 10px;
    margin-top: 15px;
    font-size: 18px;
        color: #6B6B6B;
}
.contenedor-informacion{
    margin-top:20px;
    background: #EEEEEE;
    display: table;
    width: 100%;

}
.contenedor-informacion .icono{
    background: #000000;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    height: 100px;
}

.contenedor-informacion  .contenido{
    display: table-cell;
    vertical-align: top;
    text-align: left;
    padding: 10px;
    color:  #6B6B6B;
    font-size: 14px;
    font-weight: 300;
}


.contenedor-informacion  .contenido h4{
    font-size: 18px;
}
.contenedor-informacion  .contenido .boton{
    margin-top: 20px;
    width: 170px;
    text-align: center;
}

.contenedor-informacion  .contenido a.btn-robot{
    background:#0ac6f0;
    color: #FFFFFF;
    padding: 8px;
    font-size: 20px;
    font-weight: 300;
}
.contenedor-informacion  .contenido  a.btn-sitemap{
    background:#000000 ;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    padding: 8px;
}
.contenedor-informacion .icono.telefono{
    background: #09c2f7;
}
.contenedor-informacion .icono.correo{
    background: #ff9900;
}
.contenedor-informacion .icono.direccion{
    background: #24b573;

}



.padding{
    padding-left:15px;
    padding-right: 15px;
}

.margen-dashboard{
    margin-top: 20px;
}
.contenedor-informacion .icono-mapa{
    background: #000000;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 60px;
    height: 60px;
}
.contenedor-informacion .icono-mapa.latitud{
    background: #ff9900;
}
.contenedor-informacion .icono-mapa.longitud{
    background: #fe1e26;
}
.contenedor-informacion .icono-mapa.zoom{
    background: #0270bb;
}
.contenedor-informacion .icono-seo{
    background: #000000;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    height: 140px;
}
.contenedor-informacion .icono-seo.descripcion{
    background: #079345;
}
.contenedor-informacion .icono-seo.tags{
    background: #09c2f7;
}
.contenedor-informacion .icono-seo.archivos{
    background: #f89320;
}

.contenedor-informacion .icono-seo.scripts{
    background: #0170bd;
}
.contenedor-informacion .icono-seo.log{
    background: #fe1e26;
}
/* Marcela*/

.mapa{
    width: 100%;
    height: 250px;
    margin-top:20px;
    border:1px solid #CCCCCC;
}


.input-icono{
    width: 50px;
    text-align: center;
    display: inline-block;
}

.input-icono-grande{
    width: 80px;
    text-align: center;
    display: inline-block;
}

.icono-metricas{
    font-size: 38px;
    margin-top: 10px;
}

.fondo-facebook, .fondo-azul{
    background: #0f477f;
    color: #ffffff;
}
.fondo-instagram, .fondo-morado{
     background:#a535b5;
    color: #ffffff;
}

.fondo-twitter, .fondo-azul-claro{
     background:#09c2f6;
    color: #ffffff;
}

.fondo-pinterest, .fondo-cafe{
     background:#900909;
    color: #ffffff;
}

.fondo-youtube, .fondo-rojo-claro{
     background:#fe0c04;
    color: #ffffff;
}

.fondo-flickr, .fondo-rosado{
     background:#fe55b5;
    color: #ffffff;
}

.fondo-linkedin{
     background:#094483;
    color: #ffffff;
}

.fondo-google, .fondo-rojo{
     background:#d52121;
    color: #ffffff;
}

.fondo-whatsapp, .fondo-verde-claro{
    background:#8bc63d;
    color: #ffffff;
}
.fondo-telefono{
    background:#09c2f8;
    color: #ffffff;
}
.fondo-correo{
    background:#ff9901;
    color: #ffffff;
}
.fondo-direccion, .fondo-verde{
    background:#24b572;
    color: #ffffff;
}
.fondo-mapa-latitud{
    background:#ff9901;
    color: #ffffff;
}
.fondo-mapa-longitud{
    background:#fe1e27;
    color: #ffffff;
}
.fondo-mapa-zoom{
    background:#026fbb;
    color: #ffffff;
}
.fondo-descripcion{
    background:#079345;
    color: #ffffff;
}
.fondo-tags{
    background:#09c2f8;
    color: #ffffff;
}
.fondo-scripts{
    background:#016fbd;
    color: #ffffff;
}

.btn-file-robot{
     background:#0ac6f0;
    color: #FFFFFF;
    padding: 8px;
    font-size: 20px;
    font-weight: 300;
    border-color:#0ac6f0 ;
    width: 140px;
}
.btn-file-robot:hover{
   background: #FFFFFF;
   color: #0ac6f0;
    border-color:#0ac6f0 ;
}

.btn-file-sitemap{
     background:#000000;
    color: #FFFFFF;
    padding: 8px;
    font-size: 20px;
    font-weight: 300;
    border-color:#000000 ;
    width: 140px;
}
.btn-file-sitemap:hover{
   background: #FFFFFF;
   color: #000000;
    border-color:#000000 ;
}

.botones-acciones{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
}

.btn-guardar{
    background: #8bc63d;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    border:1px solid #8bc63d;
}
.btn-guardar:hover{
    background: #FFFFFF;
    color: #8bc63d;
}

.btn-cancelar{
    background: #fe1e26;
     color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    border:1px solid  #fe1e26;
}
.btn-cancelar:hover{
    background: #FFFFFF;
    color: #fe1e26;
}
.titulo-principal{
    display: block;
    padding: 10px;
    margin:0;
    background: #666666;
    color: #FFFFFF;
    font-size: 20px;
}


.btn-azul{
    background: #0f477f;
    color: #ffffff!important;
    border: 1px solid #0f477f;
}
.btn-azul:hover{
    background:#ffffff;
    color: #0f477f!important;
}
.btn-morado{
    background:#a535b5;
    color: #ffffff!important;
    border: 1px solid #a535b5;
}
.btn-morado:hover{
     background:#ffffff;
    color:#a535b5 !important;
}

.btn-azul-claro{
     background:#09c2f6;
    color: #ffffff!important;
     border: 1px solid #09c2f6;
}
.btn-azul-claro:hover{
     background:#ffffff;
    color: #09c2f6!important;
}

.btn-cafe{
     background:#900909;
    color: #ffffff!important;
     border: 1px solid #900909;
}
.btn-cafe:hover{
     background:#ffffff;
    color: #900909!important;
}

.btn-rojo-claro{
     background:#fe0c04;
    color: #ffffff!important;
     border: 1px solid #fe0c04;
}
.btn-rojo-claro:hover{
     background:#ffffff;
    color: #fe0c04!important;
}

.btn-rosado{
     background:#fe55b5;
    color: #ffffff!important;
     border: 1px solid #fe55b5;
}
.btn-rosado:hover{
     background:#ffffff;
    color: #fe55b5!important;
}


.btn-rojo{
    background:#d52121;
    color: #ffffff !important;
    border: 1px solid #d52121;
}
.btn-rojo:hover{
    background:#ffffff;
    color: #d52121!important;
}

.btn-verde-claro{
    background:#8bc63d;
    color: #ffffff!important;
     border: 1px solid #8bc63d;
}
.btn-verde-claro:hover{
    background:#ffffff;
    color: #8bc63d!important;
}

.btn-verde{
    background:#24b572;
    color: #ffffff!important;
     border: 1px solid #24b572;
}
.btn-verde:hover{
    background:#ffffff;
    color: #24b572!important;
}

.franja-paginas{
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.franja-paginas .titulo-registro{
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: 300;
    color: #888888;
}

.franja-paginas .texto-paginas{
     padding-top: 5px;
    font-weight: 300;
    color: #888888;
}
.page-link{
    color: #09c2f6;
     border-color: #09c2f6;
     font-weight: 300;
}

.page-link:hover{
    color: #000000;
    border-color: #09c2f6;
    background: #EBF0F6;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #09c2f6;
    border-color: #09c2f6;
}

.content-table{
    margin-left: 20px;
    margin-right: 20px;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 20px;
}

.content-table .table{
    margin-bottom: 0;
}

.content-table .table thead{
    background: #0084C9;
    text-align: left;
    color: #FFFFFF;
    font-weight: 300;
}
.content-table .table tbody{
     font-weight: 300;
     font-size: 16px;
}
.content-table .table tbody tr:hover{
    background: #dbeeff;
}
label.input-group{
    margin-bottom: 0;
}
.thumbnail-administrator{
    max-height: 100px;
    max-width: 100px;
}
.up_table{
    display: inline-block;
    background: #f15925;
    border-color: #f15925;
}
.down_table{
    background:transparent;
    color: #f15925;
    display: inline-block;
    border-color: #f15925;
}

.up_table:hover,.down_table:hover{
    background:#000000;
    color: #f15925;
     border-color: #f15925;
}

.tabla_log{
    font-size: 12px;
}
.tabla_log tr{
    border-bottom: 1px solid #FFFFFF;
}
.texto-log{
    font-size: 13px;
}
.radio-col{
    display: block;
    text-align: center;
}
.radio-col input:checked + span{
  font-weight: bold;
  background: #DDDDDD;
  -webkit-box-shadow:inset 2px 2px 2px 0 rgba(00,0,0,0.4);
    box-shadow:inset 2px 2px 2px 0 rgba(00,0,0,0.4);
}
.radio-col input{
    position: absolute;
    opacity: 0;
}
.radio-col span{
    display: block;
    background: #EEEEEE;
    border:1px solid #CCCCCC;
    border-radius: 0.5em;
    
-webkit-box-shadow: 2px 2px 2px 0 rgba(00,0,0,0.4);
    box-shadow: 2px 2px 2px 0 rgba(00,0,0,0.4);
}
.radio-col span  img{
    max-height: 60px;
}

.radio-disenio{
    display: block;
    text-align: center;
}
.radio-disenio input:checked + span{
  font-weight: bold;
  background: #DDDDDD;
  -webkit-box-shadow:inset 2px 2px 2px 0 rgba(00,0,0,0.4);
    box-shadow:inset 2px 2px 2px 0 rgba(00,0,0,0.4);
}
.radio-disenio input{
    position: absolute;
    opacity: 0;
}
.radio-disenio span{
    display: block;
    background: #EEEEEE;
    border:1px solid #CCCCCC;
    border-radius: 0.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    
-webkit-box-shadow: 2px 2px 2px 0 rgba(00,0,0,0.4);
    box-shadow: 2px 2px 2px 0 rgba(00,0,0,0.4);
}
.radio-disenio span  img{
    max-height: 80px;
}

/* cambio de color Tiny */

.theme-tiny{
display: inline-block;
float: right;
font-size: 12px;
}
.mce-toolbar-grp {
    background-color: #333333 !important;
    background-image: none !important;
     color: #FFFFFF!important;
}
#tinymce {
   color: #333333;
}
.mce-btn-group .mce-btn{
    border:0;
}
.mce-btn-group .mce-btn button {
    background-color: #333333!important;
    color: #FFFFFF!important;
}
.mce-btn-group .mce-btn .mce-ico, .mce-caret{
    color:#FFFFFF;
    border-top-color: #FFFFFF!important;
}
.mce-text{
    background:transparent !important;
}
.mce-colorbutton:hover .mce-open{
    border-color: transparent!important;
}
/* fin  cambio de color Tiny */


.botones-reportes a{
    margin-bottom: 30px;
    margin:5px;
}

.tablaGris2, .tablaGris2 td, .tablaGris2 th{
    border: 1px solid;
}
.tablaGris2 td{
    border: 1px solid;
}

.tablaGris2 th{
    background: #DDDDDD;
}
.tablaGris2 td{
    background: #FFFFFF;
}

#piechart{
    width:100%; height: 400px; border:0px solid #000000;
}

.margin10{
    margin-top: 10px;
}

.btn-primary{
    background: #0084C9;
}
#signatureShow h1#default{
	font-size: 18px !important;
	font-weight: normal !important;
	text-decoration: underline;
}
#signatureShow h1#font-2r{
	font-size: 28px !important;
	font-weight: normal !important;
	text-decoration: underline;
}
#signatureShow h1#font-3r{
	font-size: 28px !important;
	font-weight: normal !important;
	text-decoration: underline;
}
#signatureShow h1#font-4r{
	font-size: 28px !important;
	font-weight: normal !important;
	text-decoration: underline;
}
#signatureShow h1#font-5r{
	font-size: 22px !important;
	font-weight: normal !important;
	text-decoration: underline;
}
#signatureShow h1#font-6r{
	font-size: 44px !important;
	font-weight: normal !important;
	text-decoration: underline;
}
#font-2{
	font: 402 40px 'Arizonia', Helvetica, sans-serif !important;
	color: #2b2b2b ;
}
#font-2r{
	font: 402 60px 'Arizonia', Helvetica, sans-serif !important;
	color: #2b2b2b;
}
#font-3{
	font: 400 40px'Great Vibes', Helvetica, sans-serif;
	color: #2b2b2b;

}
#font-3r{
	font: 400 60px 'Great Vibes', Helvetica, sans-serif;
	color: #2b2b2b;

}
#font-4{
	font:  40px 'Euphoria Script', cursive;
	color: #2b2b2b;

}
#font-4r{
	font:  60px 'Euphoria Script', cursive;
	color: #2b2b2b;

}
#font-5{
	font:  30px 'Homemade Apple', cursive;
	color: #2b2b2b;

}
#font-5r{
	font:  40px 'Homemade Apple', cursive;
	color: #2b2b2b;

}
#font-6{
	font:  60px 'Miss Fajardose', cursive;
	color: #2b2b2b;

}
#font-6r{
	font:  80px 'Miss Fajardose', cursive;
	color: #2b2b2b;

}
#default{
	font-family: "Myriad pro", sans-serif;

}
.col-md-p{
	flex: 0 0 20%;
	max-width: 20%;
	padding-left: 15px;
	padding-right: 15px;
}

.container-radio {
	display: block;
	position: relative;
	padding-right: 90px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container-radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
	position: absolute;
	top: -6px;
	right: 0;
	height: 40px;
	width: 80px;
	background-color: #f2f2f2;
	border-radius: 15px;
	text-align: center;
	display: flex;
	align-items: center;
  }
  
  /* On mouse-over, add a grey background color */
  
  
  /* When the radio button is checked, add a blue background */
  .container-radio input:checked ~ .checkmark {
	background-color: #f2f2f2;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
	content: "✔";
	width: 100%;
	position: absolute;
	display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-radio input:checked ~ .checkmark:after {
	display: block;
  }
.btn-firma{
	background-color: var(--azul);
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	padding: 10px 60px;
	border-radius: 25px;
	margin: 0 10px;
}

.radios [type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

/* IMAGE STYLES */
.radios [type=radio] + h4 {
	cursor: pointer;
	font-size: 30px;
}


/* CHECKED STYLES */
.radios [type=radio]:checked + h4 {
	background: var(--azul);
	padding:10px;
	border-radius: 10px;
	color: #fff !important;
}
.color-verde{
	color: var(--azul);
}
.linea{
	width: 150px;
	display: inline-block;
	border-bottom: 1px solid var(--azul);
}
.btn-sl-filters{
  position: relative;
}
.btn-sl-filters .red-point{
  position: absolute;
  top: -7px;
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  right: 5px;
  color: #FFF;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -----------------------------------------------------------------------------------
   INICIO - LOGIN {
----------------- ------------------------------------------*/


.fondo {
  background: url("/corte/fondo.jpg");
  background-size: cover;
  min-height: 546px;
}

@font-face {
  font-family: "Comfortaa Bold";
  src: url('../fonts/comfortaaBold.ttf');
}

@font-face {
  font-family: "Comfortaa Regular";
  src: url('../fonts/comfortaaRegular.ttf');
}

.fondo1 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  object-fit: cover;
  object-position: top;
}

.login-container {
  height: 100vh;
  position: relative;
}

.login-container .contact-info {
  position: absolute;
  bottom: 5%;
  left: 10%;
  z-index: 1000;
}

.login-container .contact-info img {
  margin-right: 10px;
  width: 70px;
}

.login-container .contact-info {
  color: #FFF;
  line-height: 1.2;
}

.login-container .redes {
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 1000;
}

.fondo_negro {
  background: rgba(0, 0, 0, 0.2) !important;
}

@media screen and (max-width: 1400px) {
  .login-container .redes {
    top: 3%;
  }
}

@media screen and (max-width: 768px) {
  .login-container {
    height: inherit;
  }

  .login-container .contact-info {
    display: none;
  }

  .login-container .title-container {
    margin-top: 80px;
  }

  .login-container .title-container img {
    display: none;
  }
}

.login-container .redes a {
  text-decoration: none;
  width: 35px;
  color: #0033a0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.login-container .redes img {
  width: 100%;
}

.login-container .title-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
}

.login-container .title-container img {
  width: 120px;
  margin-top: -30px;
}

.login-container .title-container span {
  font-size: 3.5rem;
  color: #fff;
  margin-left: 10px;
  text-align: left;
  line-height: 1;
  font-family: 'Comfortaa Regular';
}

.login-container .title-container strong {
  font-family: 'Comfortaa Bold';
}

.login-container .input-container {
  display: flex;
  justify-content: start;
  align-items: center;
  background: #F6F6F4;
  color: #E1E1DF;
  border: 2px solid #E1E1DF;
  border-radius: 5px;
}

.login-container .input-container input {
  background-color: transparent !important;
  border: none;
  color: #E1E1DF;
  padding: 0px 25px;
  color: #333;
}

.login-container .input-container input::placeholder {
  color: #E1E1DF;
}

.login-container .input-container img {
  filter: brightness(0.9);
  width: 35px;
  margin: 5px;
}

.login-container {
  color: #7B7B7B;
}

.login-container .enlace.blanco {
  color: #7B7B7B;
}

.borde_login {
  border: none;
  background: #FFF;
}

.login-container .btn-azul {
  background: linear-gradient(90deg, #9a6da6 0%, #ce6e9d 100%);
  color: #FFFFFF;
  border-radius: 15px;
  padding: 5px 40px;
  transition: 300ms ease;
  border: none;
}

.login-container .btn-azul:hover {
  background-color: #1c3455ea;
  color: #FFF !important;
  transition: 300ms ease;
}

.titulo_login_azul .logo {
  width: 100%;
}

.fondo_negro {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

.zindexlogin {
  z-index: 999;
  position: relative;
}

.blanco {
  color: #FFFFFF;
}

#div_valor {
  background: #CCCCCC;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
}

.tarjeta {
  font-size: 40px;
  color: #000;
  margin-top: 30px;
}

.cop {
  font-size: 20px;
}

.negro {
  color: #000000 !important;
}

.caja_login {
  padding: 10px 30px;
}

.caja_login label {
  margin-bottom: 10px;
  margin-top: 20px;
}

.caja_login .error_login {
  background: rgba(255, 0, 0, 0.3);
  color: #FFFFFF;
  padding: 5px;
  text-align: center;
  border-radius: 0.5em;
  font-weight: 300;
  font-size: 14px;
}

.login-derechos1 {
  position: absolute;
  bottom: 30px;
  left: 150px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Comfortaa Regular';
}

.login-derechos1 a {
  color: #29abe2;
}

/* -----------------------------------------------------------------------------------
   FINAL - LOGIN }
----------------  -------------------------------------------*/