@import url(/components/Font-Awesome/web-fonts-with-css/css/fontawesome-all.min.css);
@import url(../../administracion/fuentes/fuentes.css);
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "open_sans";
  font-family: "Questrial-Regular";
  font-family: "Exo 2", sans-serif;
}

img {
  max-width: 100%;
}
header .header-redes {
  background: #333333;
}
header .header-redes .red {
  display: inline-block;
  margin: 5px;
  color: #ffffff;
}

body {
  --azul: #f7ab00;
  color: #928282;
  --gris: #231f20;
}

header .header-redes .red i {
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
  background: #ffffff;
  color: #333333;
  width: 25px;
  text-align: center;
  border-radius: 5em;
}
header .header-redes .red:hover {
  text-decoration: none;
}
header .header-redes .red:hover i {
  background: #000000;
  color: #ffffff;
}
header .header-content {
  color: #333333;
  height: 120px;
}
header .header-content .logo {
  max-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .header-content {
}
header .header-content nav ul {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
header .header-content nav ul li {
  display: table-cell;
  width: 20%;
  position: relative;
}

header .header-content nav ul li a {
  display: table;
  width: 100%;
  color: #ffffff;
  border: 2px solid #ededed;
  border-radius: 20px;
  width: 150px;
}

header .header-content nav ul li a span {
  display: table-cell;
  vertical-align: middle;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  color: var(--azul);
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.flotantes {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: auto;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 999;
}
.flotantes a {
  background-color: #25d366;
  border-radius: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.texto-solcompleta {
  font-size: 24px;
  font-weight: bold;
  color: #0e70b9;
}
.flotantes i {
  font-size: 30px;
  color: #ffffff;
}
body {
  overflow-x: hidden;
}

header .header-content nav ul li:hover {
}

header .header-content nav ul li:hover a {
  color: #ffffff;
  text-decoration: none;
}

/* estilos contenidos */

.fondo-left-top {
  background-position: left top;
}
.fondo-left-center {
  background-position: left center;
}
.fondo-left-bottom {
  background-position: left bottom;
}

.fondo-right-top {
  background-position: right top;
}
.fondo-right-center {
  background-position: right center;
}
.fondo-right-bottom {
  background-position: right bottom;
}

.fondo-center-top {
  background-position: center top;
}
.fondo-center-center {
  background-position: center center;
}
.fondo-center-bottom {
  background-position: center bottom;
}

.fondo-repetido {
  background-repeat: repeat;
}
.fondo-sinrepetir {
  background-repeat: no-repeat;
}

.fondo-expandido {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.fondo-fijo {
  background-attachment: fixed;
}

.slider-simple .content-caption {
  color: #000000;
  padding: 20px;
  border-radius: 0.5em;
}

.slider-simple .content-caption h2 {
  color: #000000;
  font-weight: 700;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

.contenedor-seccion {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contenedor-seccion .descripcion-seccion {
  padding-top: 40px;
  padding-bottom: 40px;
}
.contenedor-seccion .fixed {
  background-position: fixed;
}

.caja-contenido-simple {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

.caja-contenido-simple h2 {
  font-weight: bold;
}

.caja-contenido-simple .imagen-contenido {
  display: table;
  width: 100%;
}

.caja-contenido-simple .imagen-contenido div {
  display: table-cell;
  height: 180px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #cccccc;
  background-color: #eeeeee;
}

.caja-contenido-simple .imagen-contenido div img {
  max-width: 100%;
  max-height: 100%;
}

.btn-vermas {
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}
.btn-vermas:hover {
  background: #ffffff;
  color: #000000;
}

.carouselsection .caja-contenido-simple {
  padding: 10px;
  border-radius: 0em;
}

.con-espacios .carouselsection .caja-contenido-simple {
  margin: 10px;
}

.con-espacios .carouselsection {
  padding-left: 40px;
  padding-right: 40px;
}

.fondo-video-youtube {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.banner-video-youtube {
  position: absolute;
  top: -80%;
  left: -80%;
  z-index: 1;
  margin: auto;
  opacity: 1;
  width: 260%;
  height: 260%;
}

.fondo-imagen {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slider-principal .carousel-caption {
  color: #000000;
  padding: 20px;
  border-radius: 0.5em;
  display: block;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}

.padding-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo2 {
  width: 322px;
}
.pos_logo {
  margin-top: 50px;
  position: relative;
  z-index: 1;
}

.borde_login {
  border: 2px solid #ffffff;
  margin-top: 50px;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.btn-blanco2 {
  background: #ffffff;
  color: var(--azul);
  font-size: 16px;
}

.blanco {
  color: #ffffff;
}

.titulo_login2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
}

.titulo_login_azul {
  color: var(--azul);
  font-size: 26px;
  font-weight: 300;
}

.col-md-35 {
  max-width: 29.1666666% !important;
  flex: 0 0 29.1666666% !important;
}

.titulo {
  color: var(--azul);
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.texto_rojo {
  color: red;
}

.datosResaltados {
  color: #fff;
  padding: 10px;
  font-size: 24px;
  text-transform: uppercase;
  background: var(--azul);
  background: #f0f0f0;
  color: var(--azul);
}

.formulario div {
  margin-top: 0px;
  color: var(--azul);
}
.formulario2 div {
  margin-top: 5px;
  color: var(--azul);
}

.formulario .form-control {
  color: var(--gris);
}

.tituloVerde {
  color: var(--azul);
  font-size: 16px;
  padding-bottom: 5px;
}

.textos2 {
  font-size: 12px;
  color: #595959;
}

.textos3 {
  font-size: 14px;
  color: #595959;
}

.formulario label {
  margin-top: 10px;
}

.margen_enfermedad {
  vertical-align: top;
}

.fondo_header {
  /* border-bottom: 3px solid var(--azul); */
  padding-top: 10px;
  padding-bottom: 20px;
  color: var(--azul);
}
/* .fondo_header .logo2{
  width: auto;
} */
.fondo_header .titulo_blanco {
  color: var(--azul);
}
.fondo_header .text-white {
  color: var(--azul) !important;
}

.titulo_blanco {
  color: #ffffff;
  font-size: 30px;
}

.margen_titulo {
  margin-top: 10px;
}

.separador_gris {
  background: var(--gris);
  height: 20px;
}

.separador_login {
  background: var(--gris);
  height: 5px;
  width: 70px;
  margin-top: 5px;
}

.separador_login2 {
  background: var(--gris);
  height: 5px;
  width: 70px;
  margin-top: -15px;
  margin-bottom: 10px;
}

.separador_tabla {
  background: var(--gris);
  height: 5px;
  width: 70px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.separador_login3 {
  background: var(--gris);
  height: 5px;
  width: 70px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.separador_login4 {
  background: var(--gris);
  height: 5px;
  width: 70px;
  margin-top: -10px !important;
  margin-bottom: 10px;
  position: relative;
}

.separador_login5 {
  background: var(--gris);
  height: 5px;
  width: 70px;
  margin-top: -15px !important;
  margin-bottom: 10px;
  position: relative;
}

.separador_formulario {
  background: var(--gris);
  height: 5px;
  width: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icono_usuario {
  background: var(--azul);
  height: 45px;
  padding: 7px;
  margin-right: -30px;
}

.z_icono {
  z-index: 5;
  position: relative;
  margin-top: -4px;
}

.margen_icono {
  margin-bottom: 20px;
}

.enlace {
  color: #373333;
}

.btn-azul {
  background: var(--azul);
  color: #ffffff;
  border-radius: 0px;
}
.btn-azul:hover {
  background: #000000;
  color: #ffffff;
}

.flecha {
  color: var(--azul);
  background: #ffffff;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  font-size: 18px;
  margin-left: 10px;
}

.campo_gris {
  text-align: right;
  background: url("/corte/pesos.png") #eeeeee;
  background-repeat: no-repeat;
  color: #231f20;
}
.campo {
  text-align: right;
  background: url("/corte/pesos.png");
  background-repeat: no-repeat;
  color: #231f20;
}

.div_rojo {
  border: 1px solid #be0e2a;
  padding: 10px;
  border-radius: 4px;
  color: var(--gris) !important;
  margin-top: 10px;
}

.warning-logo {
  margin-left: -10px;
  height: 90px;
  z-index: 1;
  position: relative;
  margin-top: -100px;
}

.warning-logo2 {
  margin-left: -10px;
  height: 60px;
  z-index: 2;
  position: relative;
  margin-top: -72px;
}

.margen-warning {
  margin-left: 70px;
}

#resultado b {
  color: var(--azul);
  font-size: 20px;
  font-weight: normal;
}

.margen-cuotas {
  margin-top: 20px;
}

.rojo {
  color: #be0e2a;
}

.paso {
  color: #c2c1c1;
  color: #ac2931;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fondo3 {
  background: var(--azul);
  color: #ffffff;
}

.tablaGris2,
.tablaGris2 td {
  padding: 5px;
  border: 1px solid #666;
  border-collapse: collapse;
}

.tabla2,
.tabla2 td {
  border: 1px solid #999999;
  border-collapse: collapse;
}

.with-errors {
  color: #be0e2a;
}

.error {
  color: #be0e2a !important;
  font-size: 14px !important;
}

#error1 {
  margin-top: 20px;
  padding: 0px 10px;
}

.triangulo {
  color: #be0e2a;
  font-size: 50px;
}
.triangulo2 {
  color: #be0e2a;
  font-size: 30px;
}
.margen-triangulo {
  margin-top: 5px;
}
#requisitos {
  max-height: 250px;
  overflow-y: scroll;
  font-variant: normal;
}

#titulo_requisitos {
  margin-top: 6px;
  margin-bottom: 10px;
  color: var(--azul);
  font-size: 20px;
}

.valor_cuota {
  font-size: 36px;
  color: var(--azul);
}

.fondo {
  background: url("/corte/fondo.jpg");
  background-size: cover;
  min-height: 546px;
}

.fondo1 {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.fondo_negro {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

.zindexlogin {
  z-index: 999;
  position: relative;
}

.blanco {
  color: #ffffff;
}

#div_valor {
  background: #cccccc;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
}

.tarjeta {
  font-size: 40px;
  color: #000;
  margin-top: 30px;
}

.cop {
  font-size: 20px;
}

.negro {
  color: #000000 !important;
}

.titulo-seccion {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 20px;
  background: #ebf0f6;
  background: var(--azul);
  padding: 10px;
  border-radius: 18px;
}

.tabla_lineas tr:nth-child(odd) {
  background: #ebf0f6;
}

#requisitos {
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  color: var(--azul);
  border: 2px solid #c3c3c3;
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
}
.rosado {
  color: #b7007c !important;
  font-weight: bold;
}
.fondo-verde {
  background-color: #ac2931 !important;
  border-radius: 15px;
}
.fondo-verde h2 {
  color: #ffffff !important;
  margin-bottom: 0px;
}
.tabla-resumen {
  border-color: #2daae0;
}
.tabla-resumen td {
  color: #1071b8;
  font-size: 20px;
  padding: 15px;
}
.texto-azul {
  color: #1071b8;
  font-size: 20px;
  font-weight: bold;
}
.tabla-resumen tr:nth-child(odd) {
  background: #cce7f0;
}
.caja-formulario {
  border: 1px solid #bbb;
  border-radius: 2px;
  padding-bottom: 20px;
  padding-top: 0px;
}

.azul {
  color: var(--azul);
}

.fondo-gris {
  background: #ddd;
  background: var(--azul) !important;
  color: #ffffff !important;
}

.fondo-gris b {
  color: #ffffff !important;
}

.fondo-gris2 {
  background: #ddd;
  background: var(--azul);
  color: #ffffff !important;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.fondo-gris3 {
  background: #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.margin5 {
  margin-top: 6px !important;
}
.margin51 {
  margin-top: 5px !important;
}
.margin10 {
  margin-top: 10px !important;
}

.tabla_gris,
.tabla_gris td,
.tabla_gris th {
  border: 1px solid #ced4da;
  color: #333;
}

.tabla_gris div {
  color: #333;
}

.enlace_modal {
  color: var(--azul) !important;
  text-decoration: underline;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.espacio {
  margin-right: 20px;
  margin-left: 4px;
  color: #000;
}

/* .header-menu::before {
  content: "";
  width: 105%;
  background: #ffffff;
  border-radius: 0;
  height: 236px;
  position: absolute;
  right: -2%;
  margin-left: -150px;
  margin-top: -100px;
  z-index: -1;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
  border-bottom: 4px solid #f7ab00;
} */

header .header-content {
  color: #333333;
  height: auto;
  border-bottom: 4px solid #f7ab00;
  padding: 10px;
}

header .header-content .logo2{
  height: 50px;
  width: auto;
}
.fondo-azul-claro {
  background-color: var(--azul);
  color: #fff;
}
.caja-form {
  border: 1px solid #dedede;
  border-radius: 20px;
}
.afiliaciones {
  font-size: 18px;
}
.afiliaciones label {
  color: var(--azul);
  font-size: 18px;
}
.afiliaciones .form-control {
  background-color: #f2f2f2;
  border-radius: 20px;
  border: none;
}
.texto-azul2 {
  color: var(--azul);
}
.col-md-p {
  flex: 0 0 20%;
  max-width: 20%;
  padding-left: 15px;
  padding-right: 15px;
}

.container-radio {
  display: block;
  position: relative;
  padding-right: 90px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: -6px;
  right: 0;
  height: 40px;
  width: 80px;
  background-color: #f2f2f2;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
}

/* On mouse-over, add a grey background color */

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #f2f2f2;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "✔";
  width: 100%;
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}
.btn-firma {
  background-color: var(--azul);
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 60px;
  border-radius: 25px;
  margin: 0 10px;
}

.radios [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.radios [type="radio"] + h4 {
  cursor: pointer;
  font-size: 30px;
}

/* CHECKED STYLES */
.radios [type="radio"]:checked + h4 {
  background: var(--azul);
  padding: 10px;
  border-radius: 10px;
  color: #fff !important;
}
#font-2 {
  font: 402 40px "Arizonia", Helvetica, sans-serif !important;
  color: #2b2b2b;
}
#font-2r {
  font: 402 60px "Arizonia", Helvetica, sans-serif !important;
  color: #2b2b2b;
}
#font-3 {
  font: 400 40px "Great Vibes", Helvetica, sans-serif;
  color: #2b2b2b;
}
#font-3r {
  font: 400 60px "Great Vibes", Helvetica, sans-serif;
  color: #2b2b2b;
}
#font-4 {
  font: 40px "Euphoria Script", cursive;
  color: #2b2b2b;
}
#font-4r {
  font: 60px "Euphoria Script", cursive;
  color: #2b2b2b;
}
#font-5 {
  font: 30px "Homemade Apple", cursive;
  color: #2b2b2b;
}
#font-5r {
  font: 40px "Homemade Apple", cursive;
  color: #2b2b2b;
}
#font-6 {
  font: 60px "Miss Fajardose", cursive;
  color: #2b2b2b;
}
#font-6r {
  font: 80px "Miss Fajardose", cursive;
  color: #2b2b2b;
}
#default {
  font-family: "Myriad pro", sans-serif;
}
.btn-font {
  background-color: var(--azul);
  color: #fff;
}
.btn-font:hover {
  background-color: var(--azul);
  color: #fff;
}
.btn-send-signature {
  background-color: var(--azul);
  color: #fff;
  font-size: 20px;
  width: 130px;
}

#forms-sign span.select2.select2-container.select2-container--default {
  width: 100% !important;
}

/* ----------------------- -------------------*/
#share_signature input[type="checkbox"] {
  transform: scale(1.2);
}
#default {
  font-style: italic;
}
#ch-accept {
  transform: scale(2);
  margin-top: 15px;
  margin-left: -30px;
}
#myModal .modal-dialog {
  max-width: 800px !important;
}
.fondo-verde {
  background-color: var(--azul);
  color: #fff;
}
.fondo-verde a {
  color: #000 !important;
  font-weight: bold !important;
}
.b-redondeado {
  border-radius: 20px;
}
.color-verde {
  color: var(--azul);
}
.fondo-verde p:hover {
  color: #fff;
}
.fondo-verde p {
  color: #fff;
  margin-bottom: 0px;
}
.accept-sign {
  font-size: 18px;
  border-radius: 15px;
}
#myModal3 .modal-dialog {
  max-width: 700px !important;
}

#signatureShow h1#default {
  font-size: 18px !important;
  font-weight: normal !important;
  text-decoration: underline;
}
#signatureShow h1#font-2r {
  font-size: 28px !important;
  font-weight: normal !important;
  text-decoration: underline;
}
#signatureShow h1#font-3r {
  font-size: 28px !important;
  font-weight: normal !important;
  text-decoration: underline;
}
#signatureShow h1#font-4r {
  font-size: 28px !important;
  font-weight: normal !important;
  text-decoration: underline;
}
#signatureShow h1#font-5r {
  font-size: 22px !important;
  font-weight: normal !important;
  text-decoration: underline;
}
#signatureShow h1#font-6r {
  font-size: 44px !important;
  font-weight: normal !important;
  text-decoration: underline;
}
.custom-file-input ~ .custom-file-label::after {
  content: "Elegir";
}
.linea {
  width: 150px;
  display: inline-block;
  border-bottom: 1px solid var(--azul);
}
.title_error {
  display: block;
  font-size: 25px;
  line-height: 24px;
  font-weight: 400;
  margin: 14px 0 5px 0;
}
#modalerror .modal-dialog {
  max-width: 380px !important;
}

/* -----------------------------------------------------------------------------------
   INICIO - LOGIN {
----------------- ------------------------------------------*/

.fondo {
  background: url("/corte/fondo.jpg");
  background-size: cover;
  min-height: 546px;
}

@font-face {
  font-family: "Comfortaa Bold";
  src: url("../fonts/comfortaaBold.ttf");
}

@font-face {
  font-family: "Comfortaa Regular";
  src: url("../fonts/comfortaaRegular.ttf");
}

.fondo1 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  object-fit: cover;
  object-position: top;
}

.login-container {
  height: 100vh;
  position: relative;
}

.login-container .contact-info {
  position: absolute;
  bottom: 5%;
  left: 10%;
  z-index: 1000;
}

.login-container .contact-info img {
  margin-right: 10px;
  width: 70px;
}

.login-container .contact-info {
  color: #fff;
  line-height: 1.2;
}

.login-container .redes {
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 1000;
}

@media screen and (max-width: 1400px) {
  .login-container .redes {
    top: 3%;
  }
}

@media screen and (max-width: 768px) {
  .login-container {
    height: inherit;
  }

  .login-container .contact-info {
    display: none;
  }

  .login-container .title-container {
    margin-top: 80px;
  }

  .login-container .title-container img {
    display: none;
  }
}

.login-container .redes a {
  text-decoration: none;
  width: 35px;
  color: #0033a0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.login-container .redes img {
  width: 100%;
}

.login-container .title-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
}

.login-container .title-container img {
  width: 120px;
  margin-top: -30px;
}

.login-container .title-container span {
  font-size: 3.5rem;
  color: #fff;
  margin-left: 10px;
  text-align: left;
  line-height: 1;
  font-family: "Comfortaa Regular";
}

.login-container .title-container strong {
  font-family: "Comfortaa Bold";
}

.login-container .input-container {
  display: flex;
  justify-content: start;
  align-items: center;
  background: #f6f6f4;
  color: #e1e1df;
  border: 2px solid #e1e1df;
  border-radius: 5px;
}

.login-container .input-container input {
  background-color: transparent !important;
  border: none;
  color: #e1e1df;
  padding: 0px 25px;
  color: #333;
}

.login-container .input-container input::placeholder {
  color: #e1e1df;
}

.login-container .input-container img {
  filter: brightness(0.9);
  width: 35px;
  margin: 5px;
}

.login-container {
  color: #7b7b7b;
}

.login-container .enlace.blanco {
  color: #7b7b7b;
}

.borde_login {
  border: none;
  background: #fff;
}

.login-container .btn-azul {
  background: #004374;
  color: #fff;
  border-radius: 15px;
  padding: 5px 40px;
  transition: 300ms ease;
  border: none;
}

.login-container .btn-azul:hover {
  background-color: #1c3455ea;
  color: #fff !important;
  transition: 300ms ease;
}

.titulo_login_azul .logo {
  width: 100%;
}

.fondo_negro {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

.zindexlogin {
  z-index: 999;
  position: relative;
}

.blanco {
  color: #ffffff;
}

#div_valor {
  background: #cccccc;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
}

.tarjeta {
  font-size: 40px;
  color: #000;
  margin-top: 30px;
}

.cop {
  font-size: 20px;
}

.negro {
  color: #000000 !important;
}

.caja_login {
  padding: 10px 10px;
}

.caja_login label {
  margin-bottom: 10px;
  margin-top: 20px;
}

.caja_login .error_login {
  background: rgba(255, 0, 0, 0.3);
  color: #ffffff;
  padding: 5px;
  text-align: center;
  border-radius: 0.5em;
  font-weight: 300;
  font-size: 14px;
}

.login-derechos {
  position: absolute;
  bottom: 30px;
  left: 150px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  font-family: "Comfortaa Regular";
  z-index: 1000;
}

.login-derechos a {
  color: #ac2931;
}

/* -----------------------------------------------------------------------------------
   FINAL - LOGIN }
----------------  -------------------------------------------*/

.formITSign {
  margin-bottom: 100px;
}

.formITSign-bx {
  min-height: calc(100vh - 210px);
}

.formITSign h2 {
  color: var(--azul) !important;
  font-weight: bolder;
  font-size: 2.5rem;
}
.formITSign h2 span {
  font-size: 1.8rem;
}

.formITSign input {
  padding: 15px;
  height: auto;
}
.formITSign button {
  color: #fff;
  background-color: var(--azul);
  padding: 15px;
  border: 3px solid var(--azul);
  transition: 300ms ease;
}
.formITSign button:hover {
  transition: 300ms ease;
  color: var(--azul);
  background-color: #fff;
}
.formITSign button:disabled:hover {
  transition: 300ms ease;
  color: #fff;
  background-color: var(--azul);
  border: 3px solid var(--azul);
}

footer {
  background: var(--azul);
  color: #fff;
  padding: 20px;
}
header .header-content{
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}
.header-content .menu-toggle{
  position: absolute;
  right: 50px;
  top: calc(100% + 4px);
  transform: translateX(200%);
  transition: 300ms ease;
}
.header-content .menu-toggle.active{
  transform: translateX(0);
  transition: 300ms ease;
}
header .header-content nav ul {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 280px;
}
header .header-content nav ul li{
  width: 100%;
}
header .header-content nav ul li a {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  width: 100% !important;
  color: #FFF;
  background-color: var(--azul);
  border: none;
  border-radius: 0;
  width: 150px;
  padding: 8px 15px;
  text-align: right;
  transition: 300ms ease;
  font-size: 1.15rem;
  font-weight: 500;
}

header .header-content nav ul li a:hover {
  background-color: #004374;
  transition: 300ms ease;
}

.navbar-toggler{
  color: #6e6e6e;
  border: 1px solid #6e6e6e;
  display: flex;
  justify-content: center;
  outline: none !important;
}
.navbar-toggler.active{
  color: var(--azul);
  border: 1px solid var(--azul);
}
.menu-toggler-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.menu-toggler-button .welcome-text-bx{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  border-right: 1px solid #6e6e6e;
  margin-right: 10px;
}
.menu-toggler-button .welcome-text-bx span{
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #6e6e6e;
  margin-bottom: 0;
  gap: 5px;
}
.menu-toggler-button .welcome-text-bx span i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #6e6e6e;
  font-size: 1rem;
}